@import "colors";
body{
  background:#e0e0e0;
  font-family: $font-family-roboto;
  margin:0px;
  padding:0px;
}
.cards{
  color: $white;
  span{
    margin:10px 15px 10px 0px;
    font-size: 1rem;
    text-transform: capitalize;
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px) {
      display: block;
    }
  }
}
h1,h2,h3,h4{
  font-weight: 400;
  text-transform: capitalize;
  margin:0px;
  padding:0px;
}
.center-warning {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: rgba(29,6,6,.6);
  align-items: left;
  padding: 15px;

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px) {
    display: block;
  }
}

.heading{
  &-2{
    color:#d44343;
  }
  &-3{
    color:#2c9620;
  }
}
.refreshbutton {
  font-size: 18px;
  display: block;
  margin: 0 auto;
  background: #fff;
  border: none;
  border-radius: 0px;
  padding: 10px;
}

.navigation{
  display: flex;
  justify-content: space-between;

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px) {
    display: block;
  }
}

ul.hr-ul-li{
  list-style: none;
  overflow: hidden;
  margin: 0px;
  padding: 5px;
  li{
    float: left;
    margin:0px 15px;
  }
}

.logo {
  padding: 10px 0px;
  h1{
    font-size: 2rem;
  }
}

main {
  display: flex;
  justify-content: flex-start;
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px) {
    display: block;
  }

  aside{
    width: 20%;
    background: #000;
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px) {
      width: auto;
    }

  }
  section{
    padding: 15px;
    width: 79%;
    height: fit-content;
    overflow: auto;
    height: 85vh;
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px) {
      width: auto;
      height: auto;
    }
    .cardlist{
      list-style: none;
      margin:0px;
      padding:0px;
      .country{
        background: #333333;
        padding: 15px;
        float: left;
        margin: 15px;
        min-width: 25%;
        border-radius: 5px;
        &:hover{
          box-shadow: 4px 6px 3px rgba(0, 0, 0, 0.30196078431372547);
        }
        p{
          text-transform: capitalize;
        }
        h5 {
          font-size: 1.3em;
          margin: 0px;
          text-decoration: underline;
          font-weight: 400;
          color: white;
        }
        .casestoday{

        }
        .totaldeaths{
          color:#fb6d6d;
        }
        .todaydeaths{
          color:#ff2b53;
        }
        .recovered{
          color:#73f373;
        }
        .active{
          color:#64e7ef;
        }
        .critical{
          color: #ffac2c;
        }
        .cases_pr_mill{

        }
      }
    }
  }
}
.author{
  display: none;
}
footer{
  background:#fff;
  padding: 15px;
}
nav {
  padding:15px;
  background: #fff;
}
